name: Build

on:
  push:

permissions:
  contents: write

jobs:
  release:
    name: Create Release
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      tag: ${{ github.ref_name }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: build
          merge-multiple: true

      - name: Create release
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes

      - name: Upload assets
        run: |
          gh release upload "$tag" build/*

  build:
    name: Build binary
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package: [gotcha, gotcha-update]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Set up cachix cache
        uses: cachix/cachix-action@v16
        with:
          name: gotcha
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build
        run: |
          nix build .#packages.x86_64-linux.${{ matrix.package }}

      - name: Upload workflow artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.package }}
          path: result/bin/${{ matrix.package }}

  test:
    name: Run go tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run go tests
        run: |
          nix develop --command -- go test ./...

      - uses: cachix/cachix-action@v16
        with:
          name: gotcha
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
